.community {
  width: 100%;
  position: relative;
  padding: 8% 5% 5% 5%;
  overflow: hidden;
}

.container {
  // max-width: 1360px;
  margin: 0 auto;
  // padding: 0 40px;
  width: 100%;
}

.head {
  // margin: 0 auto 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.title {
  width: 40%;
  font-size: 48px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-image: linear-gradient(
    93deg,
    rgba(248, 248, 248, 0.9),
    rgba(248, 248, 248, 0.5)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  .social {
    width: 49%;
    height: 250px;
    margin-bottom: 2%;
    position: relative;
    border-radius: 30px;
    background:
      linear-gradient(
        124deg,
        rgba(248, 248, 248, 0.03) 0%,
        rgba(248, 248, 248, 0) 46.5%
      ),
      linear-gradient(
        180deg,
        rgba(248, 248, 248, 0.02) 0%,
        rgba(248, 248, 248, 0) 100%
      );
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      border: 1.5px solid rgba(255, 255, 255, 0.05);
      border-radius: 30px;
      pointer-events: none;
      mask-image: linear-gradient(160deg, black, transparent 100%);
    }
    .chain {
      opacity: 0.1;
    }
    .inner {
      svg {
        position: absolute;
        top: 10%;
        right: 3%;
        width: 50px;
        height: 50px;
        opacity: 0.6;
        transform: rotate(-45deg);
        path,
        rect {
          stroke: #f8f8f8;
        }
      }
      p {
        position: absolute;
        bottom: 10%;
        left: 4%;
        font-size: 40px;
        line-height: 1.1;
        font-weight: 900;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        background-image: linear-gradient(
          93deg,
          rgba(248, 248, 248, 0.9),
          rgba(248, 248, 248, 0.5)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

/* Small devices and up (sm-up) */
@media (min-width: 320px) and (max-width: 575px) {
  .head {
    margin-top: 25px !important;
    margin-bottom: calc(100px / 100 * 65) !important;
  }
  .title {
    width: 100% !important;
    font-size: calc(48px / 100 * 65) !important;
    line-height: calc(1.15 / 100 * 100) !important;
  }
  .socials {
    flex-direction: column !important;
    .social {
      width: 100% !important;
      height: 180px !important;
      margin-bottom: 4% !important;
      border-radius: 20px !important;
      svg {
        top: 10%;
        right: 5% !important;
        width: 40px !important;
        height: 40px !important;
      }
      p {
        font-size: 28px !important;
        line-height: 1 !important;
      }
    }
  }
}

/* Medium devices and up (md-up) */
@media (min-width: 576px) and (max-width: 767px) {
  .head {
    margin-top: 15px !important;
    margin-bottom: calc(100px / 100 * 75) !important;
  }
  .title {
    width: 100% !important;
    font-size: calc(48px / 100 * 85) !important;
    line-height: calc(1.15 / 100 * 100) !important;
  }
  .socials {
    flex-direction: column !important;
    .social {
      width: 100% !important;
    }
  }
}

/* Large devices and up (lg-up) */
@media (min-width: 768px) and (max-width: 991px) {
  .head {
    margin-bottom: calc(100px / 100 * 75) !important;
  }
  .title {
    width: 80% !important;
    font-size: calc(48px / 100 * 75) !important;
    line-height: calc(1.15 / 100 * 100) !important;
  }
}

/* Extra large devices and up (xl-up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .head {
    margin-bottom: calc(100px / 100 * 85) !important;
  }
  .title {
    width: 65% !important;
    font-size: calc(48px / 100 * 85) !important;
    line-height: calc(1.15 / 100 * 100) !important;
  }
}

/* Extra large devices and up (xl-up) */
@media (min-width: 1200px) and (max-width: 1400px) {
  .head {
    margin-bottom: calc(100px / 100 * 95) !important;
  }
  .title {
    max-width: calc(40% / 100 * 105) !important;
    font-size: calc(48px / 100 * 95) !important;
    line-height: calc(1.15 / 100 * 95) !important;
  }
}
