.events {
  position: relative;
  width: 100%;
  // background: #080808;
  padding-right: 5%;
  padding-left: 5%;
  .events_header {
    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 48px;
    }

    &::before {
      background: rgba(248, 248, 248, 0.02);
      box-shadow: inset 2px 4px 16px rgba(248, 248, 248, 0.06);
      backdrop-filter: blur(50px);
    }

    &::after {
      border: 1.5px solid rgba(255, 255, 255, 0.05);
      pointer-events: none;
      mask-image: linear-gradient(to bottom, black, transparent 75%);
    }
    h2 {
      color: rgba(245, 245, 245, 0.9);
    }
    p {
      color: rgba(245, 245, 245, 0.6);
    }
  }
}
